<div class="container-fluid">
  <h3 class="page-title">代理详情</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body" style="padding-top: 0">
          <%=render 'payment'%>

        </div>
        <div style="padding: 10px"></div>
      </div>
    </div>
  </div>
</div>