<%= form_tag action: "login" do %>


    <div class="signin-logo tx-center tx-24 tx-bold tx-inverse">云指贷</div>
    <div class="tx-center mg-b-60" style="margin-bottom: 40px">后台管理系统</div>

    <%= render 'shared/flash', flash: flash %>
    <div class="form-group">
      <%= text_field(:user, :login, {class: 'form-control',id:"login",placeholder: "登陆名" }) %>
    </div><!-- form-group -->
    <div class="form-group">
      <%= password_field(:user, :password, {class: 'form-control',id:"password",placeholder: "密码" }) %>
    </div><!-- form-group -->
    <button type="submit" class="btn btn-info btn-block" style="margin-top: 40px">登陆</button>

    <!--</form>-->

<%end%>