<form id="login" action="dashboard.html" method="post">
  <div class="inputwrapper login-alert">
    <div class="alert alert-error">Invalid username or password</div>
  </div>
  <div class="inputwrapper animate1 bounceIn">
    <input type="text" name="username" id="username" placeholder="用户名" />
  </div>
  <div class="inputwrapper animate2 bounceIn">
    <input type="password" name="password" id="password" placeholder="密码" />
  </div>
  <div class="inputwrapper animate3 bounceIn">
    <button name="submit">登陆</button>
  </div>
  <div class="inputwrapper animate4 bounceIn">
    <label><input type="checkbox" class="remember" name="signin" /> 记住我</label>
  </div>

</form>