<div class="container-fluid">
  <!-- OVERVIEW -->
  <div class="panel panel-headline">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="metric">
            <span class="icon"><i class="fa fa-download"></i></span>
            <p>
              <span class="number cz_val"><%= chongzhi_total %></span>
              <span class="title">充值</span>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric">
            <span class="icon"><i class="fa fa-shopping-bag"></i></span>
            <p>
              <span class="number tx_val"><%= tixian_total %></span>
              <span class="title">提现</span>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric">
            <span class="icon"><i class="fa fa-eye"></i></span>
            <p>
              <span class="number yh_val"><%= user_number %></span>
              <span class="title">用户</span>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="metric">
            <span class="icon"><i class="fa fa-bar-chart"></i></span>
            <p>
              <span class="number dl_val"><%= daili_number %></span>
              <span class="title">代理</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="headline-chart" class="ct-chart"></div>
        </div>
        <!--<div class="col-md-3">-->
        <!--<div class="weekly-summary text-right">-->
        <!--<span class="number">$2,315</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>-->
        <!--<span class="info-label">Total Sales</span>-->
        <!--</div>-->
        <!--<div class="weekly-summary text-right">-->
        <!--<span class="number">$5,758</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>-->
        <!--<span class="info-label">Monthly Income</span>-->
        <!--</div>-->
        <!--<div class="weekly-summary text-right">-->
        <!--<span class="number">$65,938</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>-->
        <!--<span class="info-label">Total Income</span>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
    <script>
        var dateArray = [];

        $(function () {
            //设置日期，当前日期的前七天
            var myDate = new Date(); //获取今天日期
            myDate.setDate(myDate.getDate() - 7);
//            var dateArray = [];
            var dateTemp;
            var flag = 1;
            for (var i = 0; i < 7; i++) {
//                dateTemp = (myDate.getMonth() + 1) + "－" + myDate.getDate();
                dateTemp = (myDate.getMonth() < 10 ? ("0" + (myDate.getMonth() +1)) : myDate.getMonth()) + "-" + (myDate.getDate() < 10 ? ( "0" + myDate.getDate()) : myDate.getDate());
                dateArray.push(dateTemp);
                myDate.setDate(myDate.getDate() + flag);
            }
        });


        function isContainsKey(elements, _key) {
//            var elements = new Map();
            var bln = false;
            try {
                for (i = 0; i < this.elements.length; i++) {
                    if (this.elements[i].key == _key) {
                        bln = true;
                    }
                }
            } catch (e) {
                bln = false;
            }
            return bln;
        }

        $(function () {
            var cz_val = [];
            var cz_key = [];
            var tx_val = [];
            var tv_key = [];
            $.ajax({
                url: '/admin/dashboard/get_data',
                type: 'get',
                success: function (data) {
//                    $('.cz_val').html(data.cz)
//                    $('.tx_val').html(data.tx)
//                    $('.yh_val').html(data.yh)
//                    $('.dl_val').html(data.dl)

                    var cz = new Map();
                    var tx = new Map();
                    cz = data.chongzhi_list;
                    tx = data.tixian_list;

                    for (var i = 0; i < dateArray.length; i++) {

                        if (! cz.hasOwnProperty(dateArray[i])) {
                            cz[dateArray[i]] = 0
                        }
                        if (! tx.hasOwnProperty(dateArray[i])) {
                            tx[dateArray[i]] = 0
                        }

                    }

                    for (key in cz) {
                        cz_key.push(key);
                    }
                    for (key in tx) {
                        tv_key.push(key);
                    }

                    cz_key.sort();
                    cz_val.sort();
                    for (var i = 0 ; i < cz_key.length; i ++){
                        cz_val.push(cz[cz_key[i]])
                    }

                    for (var i = 0 ; i < tv_key.length; i ++){
                        tx_val.push(tx[tv_key[i]])
                    }

                    initChartist()
                }
            });

            function initChartist() {
                var data, options;
                data = {
//                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                    labels: dateArray,
                    series: [
//                    [23, 29, 24, 40, 25, 24, 35],
//                    [14, 25, 18, 34, 29, 38, 44],
                        cz_val,
                        tx_val,
                    ]
                };

                options = {
                    height: 300,
                    showArea: true,
                    showLine: false,
                    showPoint: false,
                    fullWidth: true,
                    axisX: {
                        showGrid: false
                    },
                    lineSmooth: false,
                };

                new Chartist.Line('#headline-chart', data, options);
            }


        })
    </script>
<% end %>
