<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a-->
  <a class="breadcrumb-item" href="index.html">用户管理</a>
  <span class="breadcrumb-item active">产品详情</span>
</nav>

<div class="sl-pagebody">
  <%=render 'form'%>

</div><!-- sl-pagebody -->


<%content_for :js do%>
<%end%>