<div class="row">
  <div class="form-group col-xs-4">
    <label class="form-control-label">账号: </label>
    <%= text_field_tag('user[login]', @user.login, {class: 'form-control',disabled:''}) %>
  </div>
  <div class="form-group col-xs-4">
    <label class="form-control-label">账号余额: </label>
    <%= text_field_tag('user[points]', @user.points, {class: 'form-control',disabled:''}) %>
  </div>
</div>